.numbers_equality {
    width: 600px;
    height: 320px;
    display: flex;
}

.numbers {
    width: 450px;
    height: 320px;
    display: flex;
    flex-direction: column
}

.numbers_row {
    width: 450px;
    height: 80px;
    display: flex;
}

.numbers_row button {
    width: 150px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: grey;
    border-width: 0.5px;
    font-size: 35px;
    font-family: sans-serif;
    color: black;
    font-weight: 100;
}


  
  
  
  
  

